{
  "swagger": "2.0",
  "info": {
    "title": "Registry.Api",
    "version": "1.0"
  },
  "host": "registry.endpoints.nord-registry.cloud.goog",
  "paths": {
    "/api/appointments": {
      "get": {
        "operationId": "get appointments",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "query",
            "name": "take",
            "type": "integer"
          },
          {
            "format": "int32",
            "in": "query",
            "name": "skip",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/AppointmentResponse"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Appointment"
        ]
      },
      "post": {
        "operationId": "post appointments",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AppointmentCreateRequest"
            }
          }
        ],
        "responses": {
          "101": {
            "description": "Information",
            "schema": {
              "items": {
                "$ref": "#/definitions/AppointmentResponse"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Appointment"
        ]
      },
      "put": {
        "operationId": "put appointments",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AppointmentUpdateRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "tags": [
          "Appointment"
        ]
      }
    },
    "/api/appointments/assign": {
      "post": {
        "operationId": "assign appointments",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AppointmentAssignRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "tags": [
          "Appointment"
        ]
      }
    },
    "/api/appointments/{id}": {
      "delete": {
        "operationId": "delete appointment",
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "tags": [
          "Appointment"
        ]
      },
      "get": {
        "operationId": "get appointment",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/AppointmentResponse"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Appointment"
        ]
      }
    },
    "/api/doctors": {
      "get": {
        "operationId": "get doctors",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "query",
            "name": "take",
            "type": "integer"
          },
          {
            "format": "int32",
            "in": "query",
            "name": "skip",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/DoctorResponse"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Doctor"
        ]
      },
      "post": {
        "operationId": "post doctors",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DoctorCreateRequest"
            }
          }
        ],
        "responses": {
          "101": {
            "description": "Information",
            "schema": {
              "items": {
                "$ref": "#/definitions/DoctorResponse"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Doctor"
        ]
      },
      "put": {
        "operationId": "put doctors",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DoctorUpdateRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "tags": [
          "Doctor"
        ]
      }
    },
    "/api/doctors/{id}": {
      "delete": {
        "operationId": "delete doctor",
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "tags": [
          "Doctor"
        ]
      },
      "get": {
        "operationId": "get doctor",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/DoctorResponse"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Doctor"
        ]
      }
    },
    "/api/patients": {
      "get": {
        "operationId": "get patients",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "query",
            "name": "take",
            "type": "integer"
          },
          {
            "format": "int32",
            "in": "query",
            "name": "skip",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/PatientResponse"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Patient"
        ]
      },
      "post": {
        "operationId": "post patients",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/PatientCreateRequest"
            }
          }
        ],
        "responses": {
          "101": {
            "description": "Information",
            "schema": {
              "items": {
                "$ref": "#/definitions/PatientResponse"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Patient"
        ]
      },
      "put": {
        "operationId": "put patients",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/PatientUpdateRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "tags": [
          "Patient"
        ]
      }
    },
    "/api/patients/{id}": {
      "delete": {
        "operationId": "delete patient",
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "tags": [
          "Patient"
        ]
      },
      "get": {
        "operationId": "get patient",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/PatientResponse"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Patient"
        ]
      }
    }
  },
  "definitions": {
    "AppointmentAssignRequest": {
      "additionalProperties": false,
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "isRecorded": {
          "type": "boolean"
        },
        "patientId": {
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "AppointmentCreateRequest": {
      "additionalProperties": false,
      "properties": {
        "appointmentDate": {
          "format": "date-time",
          "type": "string"
        },
        "doctorId": {
          "format": "int32",
          "type": "integer"
        },
        "isRecorded": {
          "type": "boolean"
        },
        "patientId": {
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "AppointmentResponse": {
      "additionalProperties": false,
      "properties": {
        "appointmentDate": {
          "format": "date-time",
          "type": "string"
        },
        "doctorId": {
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "isRecorded": {
          "type": "boolean"
        },
        "patientId": {
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "AppointmentUpdateRequest": {
      "additionalProperties": false,
      "properties": {
        "appointmentDate": {
          "format": "date-time",
          "type": "string"
        },
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "isRecorded": {
          "type": "boolean"
        },
        "patientId": {
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "DoctorCreateRequest": {
      "additionalProperties": false,
      "properties": {
        "contactNumber": {
          "type": "string",
          "x-nullable": true
        },
        "name": {
          "type": "string",
          "x-nullable": true
        },
        "speciality": {
          "type": "string",
          "x-nullable": true
        },
        "surname": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "DoctorResponse": {
      "additionalProperties": false,
      "properties": {
        "contactNumber": {
          "type": "string",
          "x-nullable": true
        },
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "x-nullable": true
        },
        "speciality": {
          "type": "string",
          "x-nullable": true
        },
        "surname": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "DoctorUpdateRequest": {
      "additionalProperties": false,
      "properties": {
        "contactNumber": {
          "type": "string",
          "x-nullable": true
        },
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "x-nullable": true
        },
        "speciality": {
          "type": "string",
          "x-nullable": true
        },
        "surname": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "PatientCreateRequest": {
      "additionalProperties": false,
      "properties": {
        "birthDate": {
          "format": "date-time",
          "type": "string"
        },
        "contactNumber": {
          "type": "string",
          "x-nullable": true
        },
        "name": {
          "type": "string",
          "x-nullable": true
        },
        "surname": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "PatientResponse": {
      "additionalProperties": false,
      "properties": {
        "birthDate": {
          "format": "date-time",
          "type": "string"
        },
        "contactNumber": {
          "type": "string",
          "x-nullable": true
        },
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "x-nullable": true
        },
        "surname": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "PatientUpdateRequest": {
      "additionalProperties": false,
      "properties": {
        "birthDate": {
          "format": "date-time",
          "type": "string"
        },
        "contactNumber": {
          "type": "string",
          "x-nullable": true
        },
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "x-nullable": true
        },
        "surname": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    }
  },
  "x-components": {}
}